%nav
  %ul
    %li= link_or_span_if_current_path "About", "/about/"
    %li= link_or_span_if_current_path "Browse", "/browse/"
    %li
      %a{:href => @design ? "/something-different-from/#{@design.slug}/" : "/random/"} Random
