- @category = "about"

%section#about
  %h1= "What's all this about?"

  %article
    %p It all started on the morning coffee run.
    %p Walking through the carpark between the office and Joe and Vinnie, our favourite purveyors of &lsquo;feen, someone was almost run over by a slow-moving rubbish truck.
    %p And so began the phrase &ldquo;killer dumptrucks&rdquo;.
    %p From there the only logical conclusion was a b-grade movie poster. Or so Lachlan said.

%section#submissions
  %h2 Send us your designs!
  %article
    %p It all started on the morning coffee run.
    %p Walking through the carpark between the office and Joe and Vinnie, our favourite purveyors of ‘feen, someone was almost run over by a slow-moving rubbish truck.
    %p And so began the phrase “killer dumptrucks”.
    %p From there the only logical conclusion was a b-grade movie poster. Or so Lachlan said.

    %ul
      %li T-shirts
      %li Posters
      %li Other stuff
