/****
Killerdumptrucks
http://killerdumptrucks.com
20090913

TOC
=Generic Rules
  =Generic Text
    =Links
    =Headings
    =Body Text
    =Date, Times etc
  =Generic Forms
=Structure
  =Header
    =Nav
  =Page
    =Pieces
  =Footer
=JS
=Designs
  =AOTKD


****/

/* =Generic Rules */
  /* =Generic Text */
  blockquote {background: #fafafa; border: 1px solid #aaa; color: #444; margin: 1em; overflow: auto; padding: 0 1em 0 1em;}
  
  blockquote:before,
  blockquote:after {color: #aaa; font-size: 1em;}
  
  blockquote:before {content: "start quote";}
  blockquote:after {content: "end quote";}
  
    blockquote cite {display: block; float: right; margin: 0 0 1em 0; width: auto;}
  
  q {font-size: 1.1em;}
    
  /* =Links */
  a:link {color: #000;}
  a:visited {color: #111;}
  a:hover, a:active, a:focus {color: #fff;}

  /* =Body Text */
  article p,
  article li,
  article ol,
  article ul {margin: 0 0 0.5em;}
  article p {line-height: 1.5;}
  article ul {}
  	article ul li {font-size: 1.07em; list-style-position: inside; list-style-type: disc;}
  article ol {}
  	article ol li {font-size: 1.07em; list-style-position: inside; list-style-type: decimal;}
    article ol ol,
    article ol ul,
    article ul ol,
    article ul ul {margin: 0 0 0.5em 1em;}
	
  .amp {background: #0e0e0e; color: #666; font: italic 100 1.25em Baskerville, "Goudy Old Style", "Palatino", Georgia, "Book Antiqua", serif; position: relative; top: 2px;}

  /* =Dates, Times etc */
  .date {font: 1em/1.6 Georgia, serif;}

/* =Structure */
html,
body {height: 100%;}

body {background: #fff; color: #0e0e0e; font: 62.5%/1.3 "droid-sans-1","droid-sans-2", sans-serif; margin: 0; padding: 0;}

#wrapper {}

  /* =Header */
  header.layout {background: #000; color: #fff; overflow: auto; padding: 0 12.5em;}
    header.layout p {font-size: 1.4em; float: left; margin: 0; width: auto;}

    header.layout span,
    header.layout a:link,
    header.layout a:visited {background: #000; color: #fff; display: block; float: left; padding: 0.5em 0; text-decoration: none; width: auto;}
    header.layout a:hover,
    header.layout a:active,
    header.layout a:focus {text-decoration: underline;}

    header.layout span {background: #000; color: #b6b6b6; margin: 0 0 0 0.5em;}

    /* =Nav */
    nav {float: right; width: auto;}
      nav ul {}
        nav ul li {float: left; margin: 0 0 0 1em; width: auto;}
        nav ul li a,
        nav ul li span {display: block; font-size: 1.4em; padding: 0.5em 1.2em;}
        nav ul li span {}
        nav ul li a:link,
        nav ul li a:visited {text-decoration: none;}
        nav ul li a:hover,
        nav ul li a:active,
        nav ul li a:focus {text-decoration: underline;}
 
  /* =Page */
  #page {font-size: 1.5em; position: relative;}

    /* =About */
    #about {background: url('/images/about-bg.jpg') repeat-x 0 0; }
        #about h1 {left: -9999px; position: absolute; top: -9999px;}
        #about article {background: url('/images/about-title.jpg') no-repeat 0 0; font-size: 21px; height: 716px; padding: 100px 0 0 600px;}
            #about p {width: 485px;}

    #submissions {background: #cdcdcd url('/images/about-tshirt.png') no-repeat 130px 80px; color: #434343; padding: 40px 0 0 0;}
        #submissions h2 {color: #737373; font: 90px/1.2 "chaparral-pro-1","chaparral-pro-2", Palatino, "Times New Roman" serif; padding: 0 0 0 300px; text-transform: lowercase;}
        #submissions article {background: url('/images/about-tshirt.jpg') no-repeat 0 0; height: 700px; padding: 10px 0 0 600px;}
            #about p {width: 485px;}

  /* =Footer */
  footer.layout {background: #aaa; clear: both; color: #000; font-size: 1.5em; margin: -3.2em 0 0 0; position: relative; bottom: 0; text-align: center; width: 100%;}
    footer.layout p {padding: 1em;}

/* =JS */
html.js {}







/* =Designs */

  /* =AOTKD */
  body.aotkd {background: #e2c79c url(images/designs/aotkd/bg-body.jpg) repeat-x 0 0; color: #5e2801;}
    
    body.aotkd #page {background: url(images/designs/aotkd/bg-page.png) no-repeat 100% 0; font-size: 1.2em; margin: 0 auto; overflow: auto; width: 85em;}
    
      body.aotkd h1 {background: url(images/designs/aotkd/bg-h1.png) no-repeat 0 0; height: 248px; left: -0.6em; position: relative; text-indent: -999em; width: 544px;}
      
      body.aotkd h2,
      body.aotkd h3 {font-size: 1em; font-weight: 700; letter-spacing: 0.3em; text-transform: uppercase;}
    
      body.aotkd #main {float: left; margin: 2em 0 0 0; width: 35em;}
      
        body.aotkd div.story {margin: 0 0 3em 0;}
          body.aotkd div.story p {font: 1.334em/1.5 Georgia, 'Clarendon Std', 'Century Old Style Std', 'Century Schoolbook', serif;}

        body.aotkd dl {margin: 0 0 2em 0;}
          body.aotkd dt {margin: 0 0 0.5em 0;}
          body.aotkd dd {margin: 0 0 0.5em 4em;}
      
      body.aotkd #merch {float: right; margin: 22em 0 0 0; width: 46em;}
        body.aotkd #merch h2,
        body.aotkd #merch h3 {font-size: 1.083em;}
        body.aotkd #merch h2 {border-top: 3px solid #5e2801; border-bottom: 1px solid #5e2801; margin: 0 0 1em 0; padding: 0.3em 0;}
        
        body.aotkd #merch div {float: left; margin: 2em 0 0 0; width: 22em;}
        body.aotkd #merch #poster {float: right;}
          body.aotkd #merch div.display {height: 21.9em; width: 22em;}

      
