- @title = "Attack of the Killer Dumptrucks"
- @body_class = "aotkd"

%h1 Attack of the Killer Dumptrucks

%article#main

  .story

    %h2 About this film

    %p <em>Attack of the Killer Dumptrucks</em> (1972) was the first in George Patterson&rsquo;s planned trilogy of construction-site themed horror films.

    %p Met with lukewarm critical reviews and largely ignored by mainstream cinemas &mdash; who felt its gory hydraulics and reflective-vested villains were unpalatable for audiences &mdash; Killer Dumptrucks disappeared from screens only ten days after release, bankrupting both Patterson and the studio bankrolling the production.

    %p It is believed a copy of the original print still exists in the basement of Patterson&rsquo;s house however since the financial ruin of the production he has refused all interviews, and now works in children&rsquo;s television.

    %p The only copy of Patterson&rsquo;s scripts for the two planned sequels, <em>Revenge of the Crane</em> and <em>Cement Mixer of Doom</em> were destroyed in a suspicious studio fire in 1974.

  %h2 Credits
  %dl 
    %dt 
      %strong Design:
      Simon Wright
    %dd Simon is the art director of a news website by day, and a self-confessed chair tragic by night.
    %dd 
      %strong twitter
      %a{:href => "http://twitter.com/diversionary"} @diversionary
    %dd
      %strong web: 
      %a{:href => "http://simon-wright.com/"} simon-wright.com
  %dl 
    %dt 
      %strong Original concept:
      Lachlan Hardy
    %dd Lachlan likes beautiful things, but struggles to make them himself. Thus &mdash; minions!
    %dd 
      %strong twitter:
      %a{:href => "http://twitter.com/lachlanhardy"} @lachlanhardy
    %dd
      %strong web: 
      %a{:href => "http://lachstock.com.au/"} lachstock.com.au 

  %p.pimping 
    %a{:href => "/browse"} Need more forgotten pop culture moments?
    
    
    
#merch
  %h2 Official Dumptrucks Wear
  %p A coalition of investors has made available the original stockpile of merchandise in an  attempt to recoup some of their losses. Here, for the first time, are the infamous tie-in products from the ill-fated <em>Attack of the Killer Dumptrucks</em>.
  
  #tee
    %img{:src => "/images/designs/aotkd/tee-front.png"}
    %h3 T-shirts
    %p Printed on high-quality 100% cotton and features artwork on the front and back (reverse artwork is the sillhouette of the dumptruck).
    
  #poster
    .display
      %img{:src => "/images/designs/aotkd/poster.png"}
    %h3 Posters
    %p Our posters are available in A2 (big) and A1 (bigger!) sizes on quality 180gsm stock and shipped in a tube so they’re never creased or folded.
  