- @title = "Attack of the Killer Dumptrucks"
- @body_class = "aotkd"

%h1 Attack of the Killer Dumptrucks

%article#main
  %h2 About this film

  %p Attack of the Killer Dumptrucks (1972) was the first in George Patterson’s planned trilogy of construction-site themed horror films.

  %p Met with lukewarm critical reviews and largely ignored by mainstream cinemas - who felt its gory hydraulics and reflective-vested villains were unpalatable for audiences - Killer Dumptrucks disappeared from screens only ten days after release, bankrupting both Patterson and the studio bankrolling the production.

  %p It is believed a copy of the original print still exists in the basement of Patterson’s house however since the financial ruin of the production he has refused all interviews, and now works in children’s television.

  %p The only copy of Patterson’s scripts for the two planned sequels, Revenge of the Crane and Cement Mixer of Doom were destroyed in a suspicious studio fire in 1974.

  %h2 Credits
  %dl 
    %dt 
      %strong Design:
      Simon Wright
    %dd Simon is the art director of a news website by day, and a self-confessed chair tragic by night.
    %dd 
      %strong twitter
      %a{:href => "http://twitter.com/diversionary"} @diversionary
    %dd
      %strong web: 
      %a{:href => "http://simon-wright.com/"} simon-wright.com

  %dl 
    %dt 
      %strong Original concept:
      Lachlan Hardy
    %dd Lachlan is going to write his own bio, because Simon clearly ran out of funny about five lines ago.
    %dd 
      %strong twitter:
      %a{:href => "http://twitter.com/lachlanhardy"} @lachlanhardy
    %dd
      %strong web: 
      %a{:href => "http://lachstock.com.au/"} lachstock.com.au 

  %p.pimping 
    %a{:href => "/browse"} Need more forgotten pop culture moments?