- @title = "Third Test"
- @body_class = "third-test"
- @published = "20091105 at 2000"

%h1 Third test

%article#main

  .story

    %h2 About this film

    %p <em>Attack of the Killer Dumptrucks</em> (1972) was the first in George Patterson&rsquo;s planned trilogy of construction-site themed horror films.

    %p Met with lukewarm critical reviews and largely ignored by mainstream cinemas &mdash; who felt its gory hydraulics and reflective-vested villains were unpalatable for audiences &mdash; Killer Dumptrucks disappeared from screens only ten days after release, bankrupting both Patterson and the studio bankrolling the production.

    %p It is believed a copy of the original print still exists in the basement of Patterson&rsquo;s house however since the financial ruin of the production he has refused all interviews, and now works in children&rsquo;s television.

    %p The only copy of Patterson&rsquo;s scripts for the two planned sequels, <em>Revenge of the Crane</em> and <em>Cement Mixer of Doom</em> were destroyed in a suspicious studio fire in 1974.

  %h2 Credits
  %dl 
    %dt 
      %strong Design:
      Simon Wright
    %dd Simon is the art director of a news website by day, and a self-confessed chair tragic by night.
    %dd 
      %strong twitter
      %a{:href => "http://twitter.com/diversionary"} @diversionary
    %dd
      %strong web: 
      %a{:href => "http://simon-wright.com/"} simon-wright.com
  %dl 
    %dt 
      %strong Original concept:
      Lachlan Hardy
    %dd Lachlan likes beautiful things, but struggles to make them himself. Thus &mdash; minions!
    %dd 
      %strong twitter:
      %a{:href => "http://twitter.com/lachlanhardy"} @lachlanhardy
    %dd
      %strong web: 
      %a{:href => "http://lachstock.com.au/"} lachstock.com.au 

  %p.pimping 
    %a{:href => "/browse"} Need more forgotten pop culture moments?
  