<h1>The Origin</h1>

<p><em>[roadtrip, 5 shirts in window, big ram in background/reflection]</em></p>
<p>In 2005, Si was on a road trip through southern Western Australia with four friends. Stopping for cheesy tourist photos with the Big (anatomically correct) Ram in Wagin, they spot 5 complete service station uniforms for sale in the window of a small Op Shop. They had to see what else it had on offer!</p>

<p><em>[KD poster under stack of vinyl - Engelbert Humperdinck?]</em></p>
<p>Si didn’t buy the uniforms, but forgotten under a stack of 1970s vinyl he discovers something that piques his curiosity: a mint condition poster and two tee shirts for the same forgotten Australian horror film – Attack of the Killer Dumptrucks. Drawn by the atmospheric design, Si buys all three.</p>

<p><em>[hunched over computer]</em></p>
<p>The story and designs fire his imagination so much that, with the starting point of the film’s title and poster, Si trawls the Internet for more details of Attack of the Killer Dumptrucks and its history. Obsessively checking op shops and eBay, he collects all the merchandise and memorabilia for the film. After much research and not a little heartbreak, this collection - and the story behind it - is now available to you.</p>

<p><em>[KD package/delivery]</em></p>
<p>Si’s friends couldn’t help but notice his new obsession, and Lachlan was struck by the idea that designers recognise and value certain aesthetics, regardless of provenance. He and Si asked other designers if they’d ever had similar experiences. The positive responses were overwhelming and so Si and Lachlan bring you Killer Dumptrucks - a curated web site devoted to sharing forgotten pop culture moments by designers for designers.</p>